src/Web References/com.teleatlas.na.ezlocate.geocoding/Geocoding.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://ezlocate.na.teleatlas.com/Geocoding.xsd1" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://ezlocate.na.teleatlas.com/Geocoding.wsdl" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://ezlocate.na.teleatlas.com/Geocoding.wsdl" name="Geocoding" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ezlocate.na.teleatlas.com/Geocoding.xsd1">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="NameValue">
        <s:sequence>
          <s:element name="name" nillable="true" type="s:string" />
          <s:element name="value" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Record">
        <s:sequence>
          <s:element maxOccurs="unbounded" name="nv" nillable="true" type="s0:NameValue" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Geocode">
        <s:sequence>
          <s:element name="resultCode" type="s:int" />
          <s:element name="mAttributes" nillable="true" type="s0:Record" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MatchType">
        <s:sequence>
          <s:element name="name" nillable="true" type="s:string" />
          <s:element name="description" nillable="true" type="s:string" />
          <s:element name="id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MatchTypeSequence">
        <s:sequence>
          <s:element maxOccurs="unbounded" name="types" nillable="true" type="s0:MatchType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RecordSequence">
        <s:sequence>
          <s:element maxOccurs="unbounded" name="record" nillable="true" type="s0:Record" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GeocodeSequence">
        <s:sequence>
          <s:element maxOccurs="unbounded" name="sequence" nillable="true" type="s0:Geocode" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OutputField">
        <s:sequence>
          <s:element name="name" nillable="true" type="s:string" />
          <s:element name="description" nillable="true" type="s:string" />
          <s:element name="type" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OutputFieldSequence">
        <s:sequence>
          <s:element maxOccurs="unbounded" name="fields" nillable="true" type="s0:OutputField" />
        </s:sequence>
      </s:complexType>
      <s:element name="getServices">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="identity" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getServicesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="resultCode" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="services" type="s0:Record" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getServiceDescription">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="service" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="identity" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getServiceDescriptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="resultCode" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="countryCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inputs" type="s0:Record" />
            <s:element minOccurs="0" maxOccurs="1" name="outputs" type="s0:OutputFieldSequence" />
            <s:element minOccurs="0" maxOccurs="1" name="matchTypes" type="s0:MatchTypeSequence" />
            <s:element minOccurs="0" maxOccurs="1" name="matchTypeName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="findAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="service" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="input" type="s0:Record" />
            <s:element minOccurs="1" maxOccurs="1" name="identity" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="findAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="resultCode" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s0:Geocode" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="findMultiAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="resultCode" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="results" type="s0:GeocodeSequence" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="findMultiAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="service" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="inputs" type="s0:RecordSequence" />
            <s:element minOccurs="1" maxOccurs="1" name="identity" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getServicesRequest">
    <wsdl:part name="parameters" element="s0:getServices" />
  </wsdl:message>
  <wsdl:message name="getServicesResponse">
    <wsdl:part name="parameters" element="s0:getServicesResponse" />
  </wsdl:message>
  <wsdl:message name="getServiceDescriptionRequest">
    <wsdl:part name="parameters" element="s0:getServiceDescription" />
  </wsdl:message>
  <wsdl:message name="getServiceDescriptionResponse">
    <wsdl:part name="parameters" element="s0:getServiceDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="findAddressRequest">
    <wsdl:part name="parameters" element="s0:findAddress" />
  </wsdl:message>
  <wsdl:message name="findAddressResponse">
    <wsdl:part name="parameters" element="s0:findAddressResponse" />
  </wsdl:message>
  <wsdl:message name="findMultiAddressRequest">
    <wsdl:part name="parameters" element="s0:findMultiAddress" />
  </wsdl:message>
  <wsdl:message name="findMultiAddressResponse">
    <wsdl:part name="parameters" element="s0:findMultiAddressResponse" />
  </wsdl:message>
  <wsdl:portType name="GeocodingPortType">
    <wsdl:operation name="getServices">
      <wsdl:input message="tns:getServicesRequest" />
      <wsdl:output message="tns:getServicesResponse" />
    </wsdl:operation>
    <wsdl:operation name="getServiceDescription">
      <wsdl:input message="tns:getServiceDescriptionRequest" />
      <wsdl:output message="tns:getServiceDescriptionResponse" />
    </wsdl:operation>
    <wsdl:operation name="findAddress">
      <wsdl:input message="tns:findAddressRequest" />
      <wsdl:output message="tns:findAddressResponse" />
    </wsdl:operation>
    <wsdl:operation name="findMultiAddress">
      <wsdl:input message="tns:findMultiAddressRequest" />
      <wsdl:output message="tns:findMultiAddressResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GeocodingBinding" type="tns:GeocodingPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="getServices">
      <soap:operation soapAction="Geocoding:GeocodingPortType#getServices" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServiceDescription">
      <soap:operation soapAction="Geocoding:GeocodingPortType#getServiceDescription" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAddress">
      <soap:operation soapAction="Geocoding:GeocodingPortType#findAddress" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findMultiAddress">
      <soap:operation soapAction="Geocoding:GeocodingPortType#findMultiAddress" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Geocoding">
    <wsdl:port name="Geocoding" binding="tns:GeocodingBinding">
      <soap:address location="http://ezlocate.na.teleatlas.com/axis/services/Geocoding" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>